# flyctl launch added from .gitignore
**/node_modules
**/.idea
**/.DS_Store
fly.toml
data
.git*
dockerfile
docker-compose*
.dockerignore
.jshintrc
package-lock.json
node_modules
*.md
angular/**
!angular/build/**