@font-face {
  font-family: Goldleaf;
  src: url("GOLDLEAF-BOLD-PERSONAL-USE.ttf");
}
div {
  font-family: "Josefin Sans Light";
}

body {
  background-image: url("Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

.logo {
  height: 80px;
  width: 80px;
}

.adjust {
  margin-top: 2vh;
}

.header {
  font-size: 75px;
  font-family: Goldleaf;
}

.form-control {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px 15px;
  border-radius: 25px;
  border-color: #707070;
}

#deskripcija {
  width: 100%;
  padding: 5px 15px 50px;
  overflow-wrap: break-word;
  overflow: hidden;
  resize: none;
}

.mb-3 {
  margin-left: 4px;
  margin-right: 4px;
}

#charCount {
  float: right;
  margin-right: 2vh;
  text-align: start;
  margin-bottom: 0;
}

.form-label {
  display: inline;
  margin-left: 2vh;
}

.btn {
  margin-top: -1%;
  background-color: #3ebdae;
  opacity: 70%;
  font-family: Goldleaf;
  font-size: 140%;
  color: #ddfbf7;
  padding: 0px 15px 5px 15px;
  border: none;
  border-radius: 15px;
}

.btn:hover {
  color: #ddfbf7;
  background-color: #3ebdae;
  opacity: 100%;
}
.btn-primary:active {
  background-color: #3ebdae !important;
}

.form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

@media screen and (max-width: 1600px) {
  .logo {
    height: 80px;
    width: 80px;
  }

  .adjust {
    margin-top: 1vh;
  }

  .form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
  }

  .form-control {
    padding: 0px 15px;
    border-radius: 25px;
    border-color: #707070;
  }

  input[type="text"] {
    font-size: large;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
  }

  input[type="text"] {
    font-size: xx-large;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
  }
  input[type="text"] {
    font-size: xxx-large;
  }
}
