<div class="carousel-item">
    <div class="card">
        <div class="card-img">
            <div class="card-body">
                <div class="card text-white bg-info mb-3" style="border-radius: 2.5vh; background-color: green !important; border: none; overflow: hidden;">
                    <div class="card-header" style="background-size: cover; color: #454545; font-family: \'Josefin Sans\', sans-serif; text-align: center;"><strong>{{clinic1?.name}}</strong></div>
                        <div class="card-body">
                            <div class="oneLine" style="display: flex; justify-content: center;">
                                <i class="fa-solid fa-map-location-dot" style="padding-right: 0.5vw; color: #454545 !important;"></i>
                                <h4 class="card-title" style="flex-direction: row; color: #454545; text-align: center; font-size: 15px; font-family: \'Josefin Sans\', sans-serif;">Address: <small>{{clinic1?.address}}</small></h4>
                            </div>
                            <div class="oneLine" style="display: flex; justify-content: center;">
                                <i class="fa-solid fa-phone" style="padding-right: 0.5vw; color: #454545 !important;"></i>
                                <h5 class="card-title" style="flex-direction: row; color: #454545; text-align: center; font-size: 15px; font-family: \'Josefin Sans\', sans-serif;">Contact: <small>{{clinic1?.telNumber}}</small></h5>
                            </div>
                            <div class="oneLine" style="display: flex; justify-content: center;">
                                <i class="fa-solid fa-envelope" style="padding-right: 0.5vw; color: #454545 !important;"></i>
                                <h5 class="card-title" style="flex-direction: row; color: #454545; text-align: center; font-size: 15px; font-family: \'Josefin Sans\', sans-serif;">Email: <small>{{clinic1?.email}}</small></h5>
                            </div>
                            <p class="card-text" style="color: #454545; text-align: justify; font-family: \'Josefin Sans\', sans-serif;">{{clinic1?.description}}</p>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <div class="card-body">
                <div class="card text-white bg-info mb-3" style="border-radius: 2.5vh; background-color: green !important; border: none; overflow: hidden;">
                    <div class="card-header" style="background-size: cover; color: #454545; font-family: \'Josefin Sans\', sans-serif; text-align: center;"><strong>{{clinic1?.name}}</strong></div>
                    <div class="card-body">
                        <div class="oneLine" style="display: flex; justify-content: center;">
                            <i class="fa-solid fa-map-location-dot" style="padding-right: 0.5vw; color: #454545 !important;"></i>
                            <h4 class="card-title" style="flex-direction: row; color: #454545; text-align: center; font-size: 15px; font-family: \'Josefin Sans\', sans-serif;">Address: <small>{{clinic1?.address}}</small></h4>
                        </div>
                        <div class="oneLine" style="display: flex; justify-content: center;">
                            <i class="fa-solid fa-phone" style="padding-right: 0.5vw; color: #454545 !important;"></i>
                            <h5 class="card-title" style="flex-direction: row; color: #454545; text-align: center; font-size: 15px; font-family: \'Josefin Sans\', sans-serif;">Contact: <small>{{clinic1?.telNumber}}</small></h5>
                        </div>
                        <div class="oneLine" style="display: flex; justify-content: center;">
                            <i class="fa-solid fa-envelope" style="padding-right: 0.5vw; color: #454545 !important;"></i>
                            <h5 class="card-title" style="flex-direction: row; color: #454545; text-align: center; font-size: 15px; font-family: \'Josefin Sans\', sans-serif;">Email: <small>{{clinic1?.email}}</small></h5>
                        </div>
                        <p class="card-text" style="color: #454545; text-align: justify; font-family: \'Josefin Sans\', sans-serif;">{{clinic1?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
