.wrapper {
  color: #454545;
}
/* Calendar container */
.container-calendar {
  display: flex;
}
#thead-month {
  background-color: #d0e3e2;
}

/* Event section styling */
#event-section {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.container-calendar #left h1 {
  color: green;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 10px 0;
}

#event-section h3 {
  color: #454545;
  font-size: 18px;
  margin: 0;
}

#event-section input[type="datetime-local"],
#event-section input[type="text"] {
  margin: 10px 0;
  padding: 5px;
  width: 80%;
}

#event-section button {
  background: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.event-marker {
  position: relative;
}

.event-marker::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* event tooltip styling */
.event-tooltip {
  position: absolute;
  background-color: rgba(234, 232, 232, 0.763);
  color: black;
  padding: 10px;
  border-radius: 4px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.event-marker:hover .event-tooltip {
  display: block;
}

#output th {
  font-weight: normal;
}

/* Reminder section styling */
#reminder-section {
  padding: 10px;
  background: #ffffff;
  margin: 20px 0;
  border: 1px solid #d0e3e2;
  color: #454545;
  overflow: scroll;
  height: 30vh;
}

#reminder-section h3 {
  color: #454545;
  font-size: 18px;
  margin: 0;
}

#reminderList {
  list-style: none;
  padding: 0;
  display: flex;
}

#reminderList li {
  margin: 5px 0;
  font-size: 16px;
  flex-direction: column;
}

/* Style for the delete buttons */
.delete-event {
  display: inline;
  border: none;
  cursor: pointer;
  border-radius: 50vw;
  background-color: #d0e3e2;
  color: #697e7d;
  height: 3vh;
}
.delete-event:hover {
  background-color: #697e7d;
  color: #d0e3e2;
}
.delete-event .material-symbols-outlined {
  font-size: 120%;
}
/* Buttons in the calendar */
.button-container-calendar button {
  cursor: pointer;
  background: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 4px;
  padding: 5px 10px;
}

/* Calendar table */
.table-calendar {
  width: 190%;
  border-collapse: collapse;
}

.table-calendar td {
  background-color: #f9fffe;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #d0e3e2;
  text-align: center;
  vertical-align: top;
}

/* Date picker */
.date-picker.selected {
  background-color: #f2f2f2;
  font-weight: bold;
}

.date-picker.selected span {
  border-bottom: 2px solid #454545;
  color: #454545;
}

/* Day-specific styling */
.date-picker:nth-child(7) {
  color: #cecece;
  /* Sunday */
}

.date-picker:nth-child(7):hover {
  color: #454545;
  /* Sunday */
}

/* Hover effect for date cells */
.date-picker:hover {
  background-color: #d0e3e2;
  cursor: pointer;
}

/* Header for month and year */
#monthAndYear {
  display: inline;
  text-transform: uppercase;
  cursor: default;
  vertical-align: super;
}

/* Navigation buttons */
.button-container-calendar {
  text-align: center;
}

#previous {
  color: #454545;
  background: none;
  border: none;
}

#next {
  color: #454545;
  background: none;
  border: none;
}
.buttonDodaj {
  display: block;
  margin: auto;
  padding-top: 0.8vh;
  border-radius: 50vw;
  border: none;
  background-color: #d0e3e2;
  color: #697e7d;
  line-height: 4vh;
  height: 5vh;
}
.buttonDodaj:hover {
  background-color: #697e7d;
  color: #d0e3e2;
}
.input {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}
.buttonDodaj1 {
  font-size: x-large;
  display: inline;
  margin: auto;
  line-height: 3vh;
  height: 4vh;
  border-radius: 50vw;
  border: none;
  background-color: #d0e3e2;
  color: #697e7d;
}
.buttonDodaj1:hover {
  background-color: #697e7d;
  color: #d0e3e2;
}
#output {
  color: #454545;
  background-color: #ffffff;
}
#output td {
  border: 1px solid black;
  border-collapse: collapse;
}
@media screen and (max-width: 991px) {
  .table-calendar {
    width: 100%;
  }
  #monthAndYear {
    font-size: 90%;
  }
  #ustvarjeno {
    min-width: 40vw;
  }
}
