 <nav
            id="navbar"
            class="navbar navbar-expand-lg bg-light"
            data-bs-theme="light "
            style="
    background-color: #3ebdae !important;
    width: 950px;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    margin-top: -50px;
    font-size: large;
    z-index: 99;
  "
    >
  <div class="container-fluid">
    <ul
      class="navbar-nav me-auto"
      style="
        font-family: &quot;Josefin Sans&quot;, sans-serif;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row;
        z-index: 100;
      "
    >
      <li class="nav-item">
        <a routerLink="" class="btn btn-primary">Domov</a>
      </li>
      <li class="nav-item">
        <a routerLink="/existing-login" class="btn btn-primary">Prijava</a>
      </li>
      <li class="nav-item">
        <a routerLink="/gost" class="btn btn-primary">Gost</a>
      </li>
      <li class="nav-item">
        <a routerLink="/veterinar-login" class="btn btn-primary"
          >Registriraj veterinar</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/stranka-login" class="btn btn-primary"
          >Registriraj klient</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/klinika-registracija" class="btn btn-primary"
          >Registriraj kliniko</a
        >
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="toggleLanguage()">
          Spremeni jezik
        </button>
      </li>
    </ul>
  </div>
</nav>
