<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Veterinar</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/styles/stylesVeterinar.css" />
  </head>
  <body>
    <div class="container">
      <div class="row g-0 row-cols-lg-2 row-cols-sm-1 row-cols-1">
        <div class="col">
          <div class="card zgCardL">
            <div class="card-body">
              <img
                src="/vectors/person-square.svg"
                alt="Bootstrap"
                width="60px"
                style="position: absolute"
              />
              <p class="card-title" style="margin-left: 4.5vw">Dr. Nina Mlinar
                <br />
                1234</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card zgCardD">
            <div class="card-body">
              <p class="card-title" style="margin-left: 4.5vw">DECEMBER</p>
              <p class="card-text" style="text-align: center">koledar</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card spCard">
        <div class="card-body">
          <p
            class="card-text position-absolute top-50 start-50 translate-middle"
            style="color: #707070"
          >Ni izbranega datuma.</p>
        </div>
      </div>
    </div>
  </body>
</html>