.animacija{
    z-index: 0;
    overflow: hidden !important;
    /*height: 100vh !important;*/
    /*width: 100vw !important;*/
}
.blob1,
.blob2,
.blob3,
.blob4,
.blob5,
.blob6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body, html {
    overflow: hidden;
 }
.outline1
{
    position: absolute;
    top: 5px;
    right: 70px;
    width: 550px;
    height: 550px;
    z-index: 3;
}
.outline2
{
    position: absolute;
    top: 110px;
    left: 20px;
    width: 600px;
    height: 600px;
    z-index: 3;
}
.outline3
{
    position: absolute;
    bottom: 110px;
    left: 80px;
    width: 600px;
    height: 600px;
    z-index: 3;
}
.outline4
{
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: -10px;
    right: -140px;
    z-index: 3; 
}
.outline5
{
    position: absolute;
    top: 100px;
    width: 400px;
    height: 400px;
    right: 80px;
}
.outline6
{
    position: absolute;
    bottom: -40px;
    right: 50px;
    width: 400px;
    height: 500px;
}
.blob1 {
  position: absolute;
  top: -420px;
  right: -40px;
  width: 650px;
  height: 650px;
}
.blob2 {
  position: absolute;
  top: -420px;
  left: -200px;
  width: 700px;
  height: 700px;
}
.blob3 {
  position: absolute;
  top: 350px;
  left: -300px;
  width: 800px;
  height: 800px;
}
.blob4 {
  position: absolute;
  top: -250px;
  left: 450px;
  width: 350px;
  height: 350px;
}
.blob5 {
  position: absolute;
  top: 50px;
  right: -400px;
  width: 530px;
  height: 530px;
}
.blob6 {
  position: absolute;
  bottom: -280px;
  right: -150px;
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 400px) {
    .blob1 {
        position: absolute;
        top: -400px;
        right: -40px;
        width: 650px;
        height: 650px;
    }
    .blob2 {
        position: absolute;
        top: 220px;
        left: 550px;
        width: 700px;
        height: 700px;
    }
    .blob3 {
        position: absolute;
        top: 850px;
        left: -500px;
        width: 800px;
        height: 800px;
    }
    .blob4 {
        position: absolute;
        top: -150px;
        left: 500px;
        width: 350px;
        height: 350px;
    }
    .blob5 {
        position: absolute;
        top: 1000px;
        right: -550px;
        width: 530px;
        height: 530px;
    }
    .blob6 {
        position: absolute;
        bottom: -100px;
        right: 180px;
        width: 500px;
        height: 500px;
    }
}
